<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="true">

	<!-- 定義日誌層級 -->
	<targets>
		<!-- 設置按日期分檔的成功日誌文件 -->
		<target xsi:type="File" name="logfile_success" fileName="${basedir}/logs/success_${shortdate}.txt" />
		<!-- 設置按日期分檔的錯誤日誌文件 -->
		<target xsi:type="File" name="logfile_error" fileName="${basedir}/logs/error_${shortdate}.txt" />
		<!-- Console 日誌輸出 -->
		<target xsi:type="Console" name="logconsole" />
	</targets>

	<rules>
		<!-- 在 Console 中輸出所有層級的日誌 -->
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<!-- 在成功日誌文件中輸出級別為 Info 及以上，直到 Warn 的日誌 -->
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logfile_success" />
		<!-- 在錯誤日誌文件中輸出級別為 Error 及以上的日誌 -->
		<logger name="*" minlevel="Debug" maxlevel="Error" writeTo="logfile_error" />
	</rules>
</nlog>